body{
  margin: 0%;
  padding: 0%;
  width: 100%;
}
header{
  height: 80px;
  width: 100%;
  background-image: linear-gradient(tomato,red);
  margin: 0px;
}
.header{
  display: flex;
}
.logo{
  width: 50%;
}
.logo h1 a{
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  background-color: purple;
  border-radius: 10px;
  margin-left: 10px;
}
.menu{
  width: 50%;
}
.menu ul{
  display: flex;
  margin-right: 40px;
}
.menu ul li{
  padding-right: 20px;
  font-size: 25px;
  list-style: none;
  padding: 10px;
}
.header ul li a{
  text-decoration: none;
  color: yellow;
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
}
.first-section{
  background-color: salmon;
  padding: 20px;
}
